/* Root container styling */
#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Ensure it covers the full viewport height */
  align-items: center;
  width: 100vw;
}

/* Main content wrapper */
.main-content {
  flex-grow: 1; /* Allows main content to grow and push footer to bottom */
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Footer styling */
footer { /* Changed from Footer to footer */
  width: 100%;
  padding: 20px;
  background-image: radial-gradient(rgba(0, 0, 0, 0) 1px, oklch(var(--b1)) 1px);
  background-size: 4px 4px;
  backdrop-filter: blur(3px);
  -webkit-backdrop-filter: blur(3px);
  -moz-backdrop-filter: blur(3px);
  position: relative; /* Ensure that the pseudo-element can position itself correctly */
}

/* Optional border styling above Footer */
footer::before { /* Changed from Footer::before to footer::before */
  content: "";
  display: block;
  position: absolute;
  opacity: 0.2;
  top: -1px;
  left: 0;
  right: 0;
  height: 1px;
  background: var(--my-gray); /* Ensure --my-gray is defined */
}
